body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  background-image: url(bg-9.png); /* kyoto, altri bg? */
  background-repeat: no-repeat;
  background-position: center;
  max-width: 768px;
  margin: auto;
  color: #fff;
  
}

header {
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: rgba(188, 0, 45, 0.90);
  margin-bottom: 0px;
}

.subject-line {
  background-color: rgba(60, 80, 80, 0.90);
  padding: 10px;
  margin-top:0px;
  margin-bottom: 0px;
  color: #fff;
}

h1, h2 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  color: #000;
}

.welcome-message, .destination-highlight, .fun-fact, .next-week-teaser, .phrase-week {
  border: 1px solid #ddd;
  background-color: rgba(50, 80, 100, 0.75);
  padding: 15px;
}

.subject-line h2 {
  text-align: center;
}

main a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

main a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

main a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

main a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
